<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/teacher/add">
        <label for="f_name">FIRST NAME</label><input type="text" name="f_name"><br>
        <label for="l_name">LAST NAME</label><input type="text" name="l_name"><br>
        <label for="email">EMAIL</label><input type="text" name="email"><br>
        <input type="submit" value="SAVE">
    </form>
</body>
</html>