<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Add Subject</h1>
	<p><a href="/subject">Show all subjects</a></p>
	<form action="/subject/add" method="post">
	  Subject name:<br>
	  <input type="text" name="subject_name">
	  <br><br>
	  <input type="submit" value="add Subject">
	</form>
</body>
</html>