<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"
>	<title></title>
</head>
<body>
<form action="/teachers/add" method="POST">
	First Name: <br/>
	<input type="text" name="first_name"> <br/>
	Last Name: <br/>
	<input type="text" name="last_name"> <br/>
	Email: <br/>
	<input type="text" name="email"> <br/>
	<input type="submit" onclick="return alert('Student telah ditambah')" value="Add Teacher">
</form>
</body>
</html>