<html>
  <head>
    <meta charset="utf-8">
    <title>homepage</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <a href="/teachers">Teachers List</a>
    <a href="/subjects">Subject List</a>
  </body>
</html>
