<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>
		PROFIL SEKOLAH CITRA ALAM<br>

		Nama Sekolah : Sekolah Citra Alam Ciganjur<br>
		Berdiri Tahun : 2000<br>
		Nama Yayasan : Citra Nurul Falah KHA.<br>

		Alamat Lengkap : Jl. Damai II No. 54 Ciganjur Jakarta Selatan 12630.<br> 
		Telp 7272164<br>
		Faks 7272164 <br>
		email:sekolah@citraalam.sch.id<br>
	</p>	
</body>
</html>