<DOCTYPE html>
<html>
  <head>
    <title>
      Students-edit
    </title>
  </head>
    <body>
    <h2 style="text-align:center">Edit Your Information: </h2>

    <form action="/student-edit/<%= student.id %>" method="post" style="text-align:center">
      <label> First Name: </label>
      <input type="text" name="firstName" value="<%=student.firstName%>" style="min-width: 150;"><br><br>

      <label> Last Name: </label>
      <input type="text" name="lastName" value="<%=student.lastName%>"style="min-width: 150;"><br><br>

      <label> Email: </label>
      <input type="text" name="email" value="<%=student.email%>" style="min-width: 180px;"><br><br>

      <button type="submit" onclick="alert('Updated Succesfully!')" value="submit">Submit</button>
      &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
      <button type="button"><a href="/students" style="text-decoration:none"> Cancel</a></button>
		</form>

  </body>
</html>