<html>
<body>

  <h2><%= title %></h2>

  <form action="/subjects/add" method="POST">
    Subject name:<br>
    <input type="text" name="subjectname" value="">
    <br><br>
    <input type="submit" value="Submit">
  </form>


</body>
</html>
