<html>
<body>

  <h2><%= title %></h2>

  <form action="/teachers/add" method="POST">
    First name:<br>
    <input type="text" name="firstname" value="">
    <br>
    Last name:<br>
    <input type="text" name="lastname" value="">
    <br>
    email:<br>
    <input type="text" name="email" value="">
    <br><br>
    <input type="submit" value="Submit">
  </form>


</body>
</html>
