<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <form method="POST" action="/edit/subject">
        
        
        <% for(att_subject in subject){ %>
       
        
        <label for="input"><%- att_subject %></label>
        <input type="text" name= <%- att_subject %>  value= <%- subject[att_subject] %> ><br>
        <% }; %>
        
        <input type="submit" value="EDIT">
    
    </form>
</body>
</html>