<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Add Student</h1>
	<p><a href="/student">Show all students</a></p>
	<form action="/student/add" method="post">
	  First name:<br>
	  <input type="text" name="first_name">
	  <br>
	  Last name:<br>
	  <input type="text" name="last_name">
	  <br>
	  Email:<br>
	  <input type="text" name="email">
	  <br><br>
	  <input type="submit" value="add Student">
	</form>
</body>
</html>