<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Edit Student</h1>
	<p><a href="/student">Show all students</a></p>
	<form action="/student/edit/<%= dataStudent.id%>" method="post">
	  First name:<br>
	  <input type="text" name="first_name" value="<%= dataStudent.first_name%>">
	  <br>
	  Last name:<br>
	  <input type="text" name="last_name" value="<%= dataStudent.last_name%>">
	  <br>
	  Email:<br>
	  <input type="text" name="email" value="<%= dataStudent.email%>">
	  <br><br>
	  <input type="submit" value="edit Student">
	</form>
</body>
</html>